#residents-div {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-height: 700px;
}

.resident-card {
   max-width: 45%;
   margin: 5px;
   max-height: 250px;
}

#appointment-request-header {
   background-color: rgb(153, 121, 79);
   color: white;
}

#appointment-request-info {
   max-height: 300px;
}

#shedule-visit-title {
   margin-top: 15px;
}

.div-title {
   text-align: center;
}

.resident-header {
   background-color: rgb(153, 121, 79);
   color: white;
}

/* scroll bars */


.resident-card>.card-body, #residents-div, #appointment-request-info {
   overflow-y: scroll;
}