#residents-div {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-height: 700px;
   overflow-y: scroll;
}

.resident-card {
   max-width: 45%;
   margin: 5px;
   max-height: 250px;
   overflow-y: scroll;
}

#appointment-request-info {
   max-height: 300px;
   overflow-y: scroll;
}

#shedule-visit-title {
   margin-top: 15px;
}

.div-title {
   text-align: center;
}