.list-group-item {
  line-height: 2.5;
}

.navbar {
  text-align: center;
  display: block;
}
body {
  background-color: #E2D5C4;
}

.card-text {
  height: 66px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.container-fluid {
  background-color: #E2D5C4;
  height: 80px;
  
  
  }
  
  .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: black; 
  }
  .navbar-dark .navbar-nav .nav-link {
  color: black;
  }
  
  button.submit {
    float: right;
  }

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}
#carouselExampleIndicators {
  height: 50%;
  
  }
  
  
  
  
  .brand {
    text-align: center;
    font-family: 'Philosopher', sans-serif;
   
  }
  /* .d-block{
    height: 50%;
    width: 50%;
  } */
  /* .carasol-inner{
  height: 50%;
  width: 50%
  } */
  .quoteBar {
    padding-left: 35px ;
    padding-right:35px;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
  }
  /* .lead {
    text-align: center;
    
    padding-right: 35px;
    padding-left:35px;
  } */
  
  
  /* .slideimage { 
   height: 20%;
   width: 100px;
  
  } */
  
  .carousel-item {
  
    height : 50%;
    width: 100%
    
     
  }
  
  /* .carousel-inner{
  
    height: 50% ;
    width: 100%;
    padding-bottom: 0px;
    
  } */
  .responsive {
    height: 84px;
    width: 134px; 
  }
  .list-group-item {
    line-height: 2.5;
  }
  
  body,html {
    background-color: #E2D5C4;
    min-height: 100vh !important;
  }
  
  .card-text {
    height: 66px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
  .container-fluid {
    background-color: #E2D5C4;
    height: 80px;
    
    
    }
    
    .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
      color: black; 
    }
    .navbar-dark .navbar-nav .nav-link {
    color: black;
    }
    
    button.submit {
      float: right;
    }
  
  form#cms {
    margin-top: 50px;
  }
  
  #cms textarea {
    resize: none;
  }
  
  .card-header button.delete,
  button.edit {
    float: right;
    margin: 5px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  
  .carousel-item {
    position: relative;
    text-align: center;
  }
  
  .promoQuotes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 3.5px;
   padding-left: 0;
  }
  
  .carousel-indicators{

    bottom: 0px;
  }
  
  .navbar-collapse {
    text-align: center;
    padding-right: 5px;
     padding-left: 0;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  
  
  @media screen and (max-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 2px;
     padding-left: 0;
  }

  .logo {

    text-align: center

  }

  .navbar-collapse {
    text-align: center;
    padding-right: 2px;
     padding-left: 0;
  }

 .brand {
   text-align: center;
 }

  
  /* @media screen and (max-width: 760px) {
    .brand {
      max-width: 100%;
      max-height: 80px;
      position: center;
      padding-bottom: 80px;
      margin-left: 350px;
    } */
  
    /* .navbar {
      align-content: center;
    } */
  }
  @media screen and (max-width: 932px) {
  .navbar-collapse {
    text-align: center;
    padding-right: 2px;
     padding-left: 0;
  }
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .brand {
    max-width: 100%;
    max-height: 80px;
    position: center;
    padding-bottom: 80px;
    /* margin-left: 350px; */
  }

  .navbar {
    text-align: center;
    display: block;
  }
  
  }


@media screen and (min-width: 920px) {
  .brand {
    float: left;
  }
}