.list-group-item {
  line-height: 2.5;
}

body {
  background-color: #E2D5C4;
}

.card-text {
  height: 66px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.container-fluid {
  background-color: #E2D5C4;
  height: 80px;
  
  
  }
  
  .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: black; 
  }
  .navbar-dark .navbar-nav .nav-link {
  color: black;
  }
  
  button.submit {
    float: right;
  }

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* ======================================== User Authentication ======================================== */
.visible-anonymous {
  visibility: visible;
  display: initial;
}

.visible-authenticated {
  visibility: hidden;
  display: none;
}

body.authenticated .visible-anonymous {
  visibility: hidden;
  display: none;
}

body.authenticated .visible-authenticated {
  visibility: visible;
  display: initial;
}

body.authenticated.role-admin {
  
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}